body {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.colored-text {
  color: #18cfab;
  font-weight: bold;
}

.section-title {
  font-size: 36px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 28px;
}

.section-title.white {
  color: white;
}

.section-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  background: url(../img/divider.png) center no-repeat;
  margin: 0 auto;
  margin-top: 25px;
}

.load-more-btn {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 170px;
  background: #18cfab;
  padding: 22px;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.load-more-btn img {
  margin-right: 15px;
}

.header {
  background: rgba(94, 93, 88, 0.6);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0;
}

.header-logo-text {
  font-size: 32px;
  line-height: 48px;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 100px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 20px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-link:hover {
  color: #18cfab;
  position: relative;
}

.nav-link:hover:after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #18cfab;
  position: absolute;
  top: 69px;
}

.nav-search-wrapper {
  position: relative;
}

.nav-search-img {
  cursor: pointer;
}
.nav-input {
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  width: 0;
  opacity: 0;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  position: absolute;
  left: 30px;
}

.nav-input.active {
  width: 100px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 1;
}

.intro {
  background: url(../img/backgrounds/intro-bg.png) center no-repeat;
  height: 100vh;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-suptitle {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 100px;
}
.intro-title {
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 130px;
}

.section-btn {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  width: 170px;
  background: #18cfab;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  border-top: 3px solid white;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.section-btn:hover {
  background:#008B8B;
}

.section-btn.blue {
  background: #00cbf6;
  margin-left: 25px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.section-btn.blue:hover {
   background:#4285B4	;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-item {
  width: 25%;
  background: #18cfab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 95px;
  padding-bottom: 100px;
}

.benefits-item:nth-child(odd) {
  background: #1c2a33;
}


.benefits-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 45px;
}

.install {
  background: url(../img/backgrounds/install-bg.jpg) center no-repeat;
  padding: 125px 0;
  text-align: center;
}

.install-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}

.install-text {
  font-size: 16px;
  text-align: center;
  color: #d8d8d8;
  margin-top: 12px;
  margin-bottom: 65px;
}

.services {
  padding: 80px 0 90px;
}
.services-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.services-tab-title {
  width: 16.6%;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 17px 0;
  cursor: pointer;
  color: #717171;
  text-align: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  position: relative;
}

.services-tab-title:hover {
  border: 1px solid #18cfab;
}

.services-tab-title.active {
  background: #18cfab;
  border: none;
  color: white;
}

.services-tab-title.active:after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  position: absolute;
  bottom: -55%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.services-tab-text {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  text-align: left;
  color: #777777;
  display: none;
  margin-top: 23px;
}

.services-tab-text.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services-tab-text img {
  width: 190px;
  margin-right: 15px;
}

.work {
  background: #e9edef;
  padding: 95px 0;
}

.work-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-filter-title {
  border: 1px solid #dadada;
  padding: 15px;
  cursor: pointer;
  color: #717171;
}

.work-filter-title.active {
  border: 2px solid #18cfab;
}
.work-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.work-images-item {
  width: 25%;
  background-color: #e9edef;
  position: relative;
  text-align: center;
  display: none;
}

.work-images-item.active {
  display: block;
}
.work-img {
  width: 100%;
  height: 100%;
}

.work-images-item:hover .work-img {
  opacity: 0;
}

.work-images-item:hover .work-images-item-content {
  z-index: 10;
}

.work-images-item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1000;
}

.work-images-item-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #18cfab;
}

.work-images-item-category {
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}

.work-images-item-links {
  margin-bottom: 25px;
}

.work-images-item-title {
  margin-bottom: 15px;
}

.news {
  padding: 80px 0 128px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.news-item {
  margin-bottom: 43px;
  position: relative;
}

.news-item:hover .news-item-title {
  color: #18cfab;
}

.news-item:hover .news-date {
  background-color: #18cfab;
}

.news-item-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #717171;
  margin: 10px;
}

.news-item-text {
  margin: 10px;
}

.news-item-author {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.news-item-author:hover {
  text-decoration: underline;
}

.news-item-comments:hover {
  text-decoration: underline;
}

.news-item-author:after {
  content: "|";
  display: inline-block;
  width: 1px;
  height: 19px;
  margin-left: 10px;
  margin-right: 10px;
}

.news-item-comments {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.news-date {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #203e38;
  width: 70px;
  height: 70px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 25px;
  color: white;
}

.reviews {
  padding: 100px 0;
  background: url(../img/backgrounds/about-bg.png) center no-repeat;
  background-size: cover;
}

.quotes {
  margin: 0 auto;
  display: block;
  margin-top: 66px;
}

.reviews-slider-big {
  margin-bottom: 50px;
  overflow: hidden;
}

.reviews-slider-big-item {
  text-align: center;
}

.reviews-slider-big-item img {
  border: 12px solid rgba(24, 207, 171, 0.2);
  border-radius: 50%;
  width: 140px;
  margin: 0 auto;
}

.reviews-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin: 36px 0;
}

.reviews-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #18cfab;
  text-transform: uppercase;
}

.reviews-job {
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 38px;
}

.reviews-slider-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.reviews-slider .slick-current {
  margin-bottom: 20px;
}

.reviews-slider .slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider-item img {
  border: 5px solid rgba(24, 207, 171, 0.2);
  border-radius: 50%;
  width: 60px;
  margin: 0 auto;
}

.reviews-slider .slick-arrow {
  font-size: 0;
  width: 100px;
  height: 50px;
  background: url(../img/reviews/arrow.png) center no-repeat;
  border: none;
}

.slick-arrow.slick-next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.reviews-slider .slick-arrow:hover {
  background: url(../img/reviews/hover-arrow.png) center no-repeat;
}

.gallery {
  padding: 108px 0 80px;
}

.footer {
  background-color: #22353f;
  padding: 48px 0;
}

.footer p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #aeaeae;
}

.footer-link {
  color: #18cfab;
}